@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


main{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f7f2f7;
}

.wrapper{
    color: #fff;
}

input{
    padding: 12px 20px;
    margin: 4px 0;
}